.footer {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    border-top: 1px rgb(197, 201, 0) solid;
}

.footer__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.git-btn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background-color: rgb(31, 31, 31);
    overflow: hidden;
}

.svgIcon {
    transition-duration: .3s;
}

.svgIcon path {
    fill: white;
}

.text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
}

.git-btn:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
}

.git-btn:hover .text {
    opacity: 1;
    transition-duration: .4s;
}

.git-btn:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
}